version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: warehouse_mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: Astra2005
      MYSQL_DATABASE: warehouse_db
      MYSQL_USER: warehouse_user
      MYSQL_PASSWORD: Astra2005
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    command: --default-authentication-plugin=mysql_native_password

volumes:
  mysql_data:
    driver: local

